body {
  font-family: Georgia, 'Hiragino Mincho ProN', 'Yu Mincho', serif;
}
.wf-sawarabigothic { font-family: "Sawarabi Mincho"; }

.top-bar{
  background-color: rgba(173,0,121,0.5);
  position: fixed;
  width: 100%;

}

.top-bar ul {
  background-color: rgba(0,0,0,0);
}

.top-bar ul :hover {
  background-color: rgba(200,0,121,0.5);
}

.top-bar a {
  color: #ffffff;
  font-family: "Sawarabi Mincho";
  font-style: bold;
}

.top-img {
  width: 100%;
}

.submenu ul{
  background-color: rgba(173,0,121,0.5);
}