body {
font-family: Georgia,游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN",HGS明朝E,メイリオ,Meiryo,serif;
}
.wf-sawarabimincho { font-family: "Sawarabi Mincho"; }

.nav-wrapper {
  background-color: rgba(173,0,121,1);
  background-color : rgba(173,0,121,1);
  background: #aa076b; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, rgba(173,0,121,1), #61045f); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, rgba(173,0,121,1), #61045f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.side-nav li a {
  font-size: 120%;
}
header, main, footer {
  padding-left: 300px;
}

.slider{
  z-index: -1;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
  b{
    font-size: 75%;
  }
  .logo-mark{
    padding: 0 16px;
    margin: 0 auto;
  }
  .mutsumi-icon-head{
  width: 22px;
  margin: 0px 2% -3.5px 0;
  }
}
@media only screen and (min-width : 992px) {
  .mutsumi-icon-head{
  display: none;
  }
  .mobile-view {
  display: none;
  }
}
 .brand-logo {
  margin-left: 2%;
  font-weight: bold;
  font-family: "Sawarabi Mincho" 'Hiragino Mincho ProN', 'Yu Mincho';
}

.topmenu{
  border-top:3px double rgba(173,0,121,1);
  border-bottom:3px double rgba(173,0,121,1);
  text-align: center;
  margin-bottom: 30px;
  color:black;
  font-size: 140%;
}

.btn-btm {
background-color : rgba(173,0,121,1);
color : black ;
bottom : 0 ;
}

.btn-btm:hover {
background-color : rgba(200,0,121,1);
color : black ;
bottom : 0 ;
}

.collapsible-accordion li {
 display:block;
 margin-left: 17px;
}

.top-img {
  position: relative;
  background: linear-gradient(to bottom, rgba(255,255,255,0.1), rgba(0,0,0,0.7));
}

img.top-img-pic{
  max-width: 120%;
}

.archive-top{
 position: absolute;
 color: #ffffff;
 text-shadow: 0 0 4px black;
 top: 50%;
 left: 5%;
}

.slides img{
  sbackground: #0099f7; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0099f7, #f11712); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0099f7, #f11712); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.slider img{
  filter: brightness(0.7);

}
.slider h3 h5{
  font-family: "Sawarabi Mincho";
}
.slider h3 {
  font-size: 400%;
}

.slider .indicators .indicator-item .active {
  background-color : rgba(173,0,121,1);

}

.card-title{
  text-shadow: 0 0 5px black;
}


.page-footer {
  background-color : rgba(173,0,121,1);
  background: #aa076b; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, rgba(173,0,121,1), #61045f); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, rgba(173,0,121,1), #61045f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.page-footer h5 {
  font-weight: bold;
}

.snsicons {
  margin-right: 1%;
}
